<div class="header-wrapper">
  <div class="container">
    <div class="navigation">
      <ul class="reset-ul">
        <li title="Dashboard"><a ui-sref="dashboard" ui-sref-opts="{reload: true}" ng-class="{active: isActive('dashboard')}"><i class="icon-donut_small"></i></a></li>
        <li title="Users"><a ui-sref="users" ui-sref-opts="{reload: true, inherit :false}" ng-class="{active: isActive('users')}"><i class="icon-face"></i></a></li>
        <li title="Content Manager"><a ui-sref="content" ui-sref-opts="{reload: true, inherit :false}" ng-class="{active: isActive('content')}"><i class="icon-perm_media"></i></a></li>
      </ul>
    </div>
    <div class="logo"><a ui-sref="dashboard" ui-sref-opts="{reload: true}"><img src="images/logo.png"></a></div>
    <div class="header-right">
      <ul class="reset-ul">
        <li title="Admin Management"><a ui-sref="manage-admin" ui-sref-opts="{reload: true}" ng-class="{active: isActive('manage-admin')}"><i class="icon-admin-with-cogwheels"></i></a></li>
        <li title="Branches Management"><a ui-sref="genre" ui-sref-opts="{reload: true}" ng-class="{active: isActive('genre')}"><i class="icon-sphere"></i></a></li>
        <li title="Logout"><a href="javascript:;" ng-click="logout()"><i class="icon-exit_to_app"></i></a></li>
      </ul>
    </div>
  </div>
</div>

<script type="text/javascript">
    // modal backdrop
  // $('.modal').modal({
  //   backdrop:false,
  //   show:false,
  //   keyboard:false
  // });
</script>
