<div class="container">
			<form>
				<div class="row custom-page-header" ng-show="userId == null">
					<div class="col-md-3 col-sm-12 col-xs-12 margin-bottom-10px-sm" >
						<h2>Content Manager</h2>
					</div>
					<!-- <div class="col-md-2 col-sm-6 col-xs-12 padding-0px padding-left-15px-sm margin-bottom-10px-sm margin-bottom-10px-xs padding-right-15px-xs padding-left-15px-xs">
						<div class="form-group custom-select">
							<select class="form-control" ng-model="postSearch.filter_by_status" ng-options="status.title for status in statuses track by status.id">
							</select>
							<span><i class="icon-expand_less"></i><i class="icon-expand_more"></i></span>
						</div>
					</div> -->
					<div class="col-md-2 col-sm-6 col-xs-12 padding-0px padding-left-15px-sm margin-bottom-10px-sm margin-bottom-10px-xs padding-right-15px-xs padding-left-15px-xs">
						<div class="form-group custom-select">
							<select class="form-control" ng-model="postSearch.filter_by_genre" ng-options="genre.title for genre in genres track by genre.id">
							</select>
							<span><i class="icon-expand_less"></i><i class="icon-expand_more"></i></span>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 margin-bottom-10px-sm margin-bottom-10px-xs">
						<div class="form-group custom-select">
							<select class="form-control" ng-model="postSearch.filter_by_type" ng-options="type.title for type in types track by type.id">
							  
							</select>
							<span><i class="icon-expand_less"></i><i class="icon-expand_more"></i></span>
						</div>
					</div>
					<div class="col-md-3 col-sm-10 col-xs-12 padding-0px padding-left-15px-sm margin-bottom-10px-xs padding-right-15px-xs padding-left-15px-xs">
						<div class="form-group form-group-has-icon form-group-icon-left">
							<input type="text" ng-model="postSearch.filter_by_title" class="form-control" placeholder="Search by Post Title">
							<i class="icon-search"></i>
						</div>
					</div>
					<div class="col-md-1 col-sm-2 col-xs-12">
						<button href="javascript:;" ng-click="searchPost()" class="btn btn-block btn-success btn-filter"><span><i class="icon-arrow_forward"></i></span><div class="loader"></div></button>
					</div>
				</div>
			</form>
			<form>
				<div class="row custom-page-header" ng-show="userId != null">
					<div class="col-sm-6 col-xs-12 pull-right">
							<button href="content-manager.php" class="btn btn-success btn-back pull-right" ui-sref="users" ui-sref-opts="{reload: true, inherit :false}" ng-class="{active: isActive('users')}">Back</button>
					</div>

					<div class="col-sm-6 col-xs-12 pull-left text-center-xs" ng-show="creator != null">
						<h2>{{creator.fullname}}’s Photos <span>({{contents.length}})</span></h2>
					</div>

				</div>
			</form>
			<div class="page-body">
				<div class="gallery-list">
					
					<ul class="list-unstyled clearfix gallery-item-row" ng-class="{'show-spinner': isLoading, 'show-data-empty':contents.length < 1}">
						<!-- loader -->
						<li class="gallery-data-loader">
							<div class="table-data-holder text-center">
			    				<div class="display-table">
			    					<div class="vertical-middle">
			    						<div class="loader loader-green"></div>
			    					</div>
			    				</div>
			    			</div>
						</li>

						<!-- no record found -->
						<li class="gallery-data-empty" ng-show="contents.length <= 0 && isLoading ==false ">
							<div class="table-data-holder text-center">
			    				<div class="display-table">
			    					<div class="vertical-middle">
			    						<div class="empty-img"><img src="images/empty-img.png"></div>
			    						<strong>No record found.</strong>
			    						<p>It seems like no record is added yet.</p>
			    					</div>
			    				</div>
			    			</div>
						</li>

						<!-- records -->
						<li class="gallery-item" data-toggle="modal" data-target="" ng-repeat="content in contents" ng-click="showPopup(content)">
							<a href=""  class="thumbnail" >
						      	<img src="{{content.image_urls['1x'] }}" alt="{{content.title }}" ng-if="content.type == 'photo'" >

						      	<video ng-if="content.type == 'video'" controls>
							  		<source src="{{content.video_url['hd'] }}" type="{{content.file_type}}">
								</video>
						    </a>
						    
						</li>
					</ul>
				</div>
			</div>
			<!--  pagination -->
					<div paginate model="pagination" next-page="showNext" previous-page="showPrev" class="pagination"></div>
			<!--  end pagination -->
		</div>	

	<div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
			<div class="valign-middle large-view-popup">
				<div class="inner">
					<div class="large-img">
						<img src="{{content.image_preview}}" ng-if="content.type == 'photo'">
						<video ng-if="content.type == 'video'" controls>
							<source src="{{content.video_preview }}" type="{{content.file_type}}">
						</video>
						<i class="icon-close black bg-white close" data-dismiss="modal"></i>
					</div>
					<div class="modal-footer bg-dark-grey">
						<span class="profile-pic"><img src="{{content.image_profile}}"></span>
						<div class="footer-social-info green">
							{{content.title}}
							<ul>
								<li><i class="icon-ic_remove_red_eye_black_24px white"></i> {{content.views}} views</li>
								<li><i class="icon-favorite white"></i> {{content.likes}} likes</li>
								<li><i class="icon-chat white"></i> {{content.comments}} comments</li>
								<li><i class="icon-lock white" ng-show="content.privacy == 'private'"></i><i class="icon-unlock-fill white" ng-show="content.privacy == 'public'"></i>{{content.time}}
								<!-- <a href="" class="red remove-text" ng-confirm-click="Are you sure to delete this record ?" 
								confirmed-click="delete(content.id)">Remove</a></li> -->
								<a href="" class="red remove-text" ng-click="showRenoveConfirmation()">Remove</a></li>
							</ul>
						</div>
		      		</div>
				</div>
			</div>
	  </div>
	</div>
	<!-- Delete confirmation -->
	<div class="modal fade white-bg-popup" id="disableAccount" tabindex="-1" role="dialog" aria-labelledby="disableAccountLabel">
	  <div class="modal-dialog modal-sm" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <i class="icon-close black bg-dark-grey close" data-dismiss="modal"></i>
	        <h4 class="modal-title" id="disableAccountLabel">Confirmation</h4>
	      </div>
	      <div class="modal-body text-center">
	        <p><strong>Are you sure you want to remove this post?</strong><br></p>
	      </div>
	      <div class="modal-footer" style="text-align:center ">
	        <button href="javascript:;" class="btn btn-success btn-back yes-btn user-confirmation-btn"
	         ng-class="{'show-spinner':show_spinner, 'prevent-click':prevent_click}" ng-click="delete(content.id)">
	         <span>Yes</span><div class="loader"></div></button>
	        <a href="javascript:;" id="disableAccountBtn" class="btn btn-success btn-back user-confirmation-btn" data-dismiss="modal"><span>No</span><div class="loader"></div></a>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- Delete confirmation end-->