<div class="portal-wrapper cpanel-login">
	<div class="portal-wrapper has-bg">
		<div class="padding-30px">
			<div class="logo">
				<img src="images/logo.png">
			</div>
			<form ng-controller="AuthController" name="resetForm" ng-submit="resetForm.$valid && reset()" novalidate>
				<h2 class="portal-main-hd">Tree Control Panel 
					<span>Create Password</span>
				</h2>

				<div class="form-group">
					<input 
					type="password" 
					class="form-control" 
					placeholder="Enter password"
					ng-model="info.password"
					name="password" 
					required>
				</div>
				<div class="form-group">
					<input 
					type="password" 
					class="form-control" 
					placeholder="Confirm Password"
					ng-model="info.confirm_password"
					name="confirm_password" 
					required>
				</div>
				<div class="error-message" ng-class="{'text-danger':(reset_text_danger || resetForm.$submitted && !resetForm.$valid), 'text-success':reset_text_success,'show-message': (resetForm.$submitted && !resetForm.$valid) || server.reset_error || server.reset_success}">
					<span ng-if="resetForm.$submitted && (!resetForm.password.$valid || !resetForm.confirm_password.$valid)">Please enter a password.</span>
					<span ng-if="server.reset_error" ng-bind="server.reset_error"></span>
					<span ng-if="server.reset_success" ng-bind="server.reset_success"></span>
				</div>

				<button class="btn btn-block btn-success" ng-class="{'show-spinner':show_spinner}">
					<span>Submit</span> 
					<div class="loader"></div>
				</button>
			</form>
		</div>
	</div>
</div>