<div class="container">
			<div class="row custom-page-header">
				<div class="col-md-4 col-sm-8 col-xs-12">
					<h2>Dashboard</h2>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12 filter-tabs padding-0px padding-right-15px-sm padding-right-15px-xs padding-left-15px-xs">
					<ul class="reset-ul custom-filter pull-right">
						<li><strong><a id="overall" class="dashboard-filters" href="javascript:;" ng-click="dashboard('overall')">Overall</a></strong></li>
						<li><strong><a id="one_month" class="dashboard-filters" href="javascript:;" ng-click="dashboard('one_month')">Last 30 Days</a></strong></li>
						<li><strong><a id="today" class="dashboard-filters"  href="javascript:;" ng-click="dashboard('today')">Today</a></strong></li>
					</ul>
				</div>
				<form>
					<div class="col-md-5 col-sm-12 col-xs-12">
						<div class="form-group form-group-has-icon col-md-5 col-sm-5 col-xs-12 padding-0px padding-left-0px-sm margin-0px padding-0px-xs margin-bottom-10px-xs">
							<input type="text" class="form-control datepicker" placeholder="Select date" id="startDate" datetimez ng-model="start_date" ng-disabled="isLoadedFromApply" picker-options="globaldates.options" picker-controller="globaldates.startDate" picker-on-change="startDateChange" readonly="readonly">
							<i class="icon-date_range"></i>
						</div>
						<div class="form-group form-group-has-icon col-md-5 col-sm-5 col-xs-12 padding-right-0px margin-0px padding-0px-xs margin-bottom-10px-xs">
							<input type="text" class="form-control datepicker" placeholder="Select date" id="endDate" ng-disabled="isLoadedFromApply" datetimez ng-model="end_date" picker-options="globaldates.options" picker-controller="globaldates.endDate" picker-on-change="endDateChange" readonly="readonly">
							<i class="icon-date_range"></i>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-12 padding-right-0px padding-0px-xs margin-bottom-10px-xs">
							<button id="isApply" ng-click="dashboard('date_range')" class="btn btn-block btn-success btn-filter" disabled=""><span><i class="icon-arrow_forward"></i></span><div class="loader"></div></button>
						</div>
					</div>
				</form>
			</div>
			<div class="row dashboard-content" >
				<div class="col-xs-12 content-wrapper" ng-class="{'show-spinner': isLoading, 'show-data-empty':data == ''}">
					<!-- loader -->
					<div class="content-data-loader">
						<div class="table-data-holder text-center">
		    				<div class="display-table">
		    					<div class="vertical-middle">
		    						<div class="loader loader-green"></div>
		    					</div>
		    				</div>
		    			</div>
					</div>
					<!-- no record found -->
					<div class="content-data-empty">
						<div class="table-data-holder text-center">
		    				<div class="display-table">
		    					<div class="vertical-middle">
		    						<div class="empty-img"><img src="images/empty-img.png"></div>
		    						<strong>No record found.</strong>
		    						<p>It seems like no record is added yet.</p>
		    					</div>
		    				</div>
		    			</div>
					</div>
					<ul class="reset-ul listing-style-1">
						<li>Total App Users <span>{{user.total_users}}</span></li>
						<li>Total Registrations via Facebook <span>{{user.facebook_users}} ({{user.facebook_users_percentage}}%)</span></li>
						<li>Total Registrations via Email <span>{{user.email_users}} ({{user.email_users_percentage}}%)</span></li>
					</ul>
					<ul class="reset-ul listing-style-1">
						<li>Total Media Content Posted <span>{{content.total_content}}</span></li>
						<li>Total Photos Submitted <span>{{content.photos}} ({{content.photos_percentage}}%)</span></li>
						<li>Total Videos Submitted <span>{{content.videos}} ({{content.videos_percentage}}%)</span></li>
						<li>Average Content Posted Per User  <span>{{content.avg_content_per_user}}</span></li>
					</ul>
					<ul class="reset-ul listing-style-1">
						<li>Total Content Views <span>{{content_action.total_views}}</span></li>
						<li>Total Content Likes <span>{{content_action.total_likes}}</span></li>
						<li>Total Content Shares <span>{{content_action.total_shares}}</span></li>
					</ul>
					<!-- <ul class="reset-ul listing-style-1">
						<li>Total Invites Sent <span>4,356,699</span></li>
						<li>Total Invites Accepted <span>130,700 (2.9%)</span></li>
						<li>Total Invites Sent via Facebook <span>3,006,122 (68.9%)</span></li>
						<li>Total Invites Accepted via Facebook <span>57,116 (1.89%)</span></li>
						<li>Total Invites Sent via Email <span>1,350,577 (31.1%)</span></li>
						<li>Total Invites Accepted via Email <span>73,584 (5.44%)</span></li>
					</ul> -->
				</div>
			</div>
		</div>	