<div class="container">
			<div class="row custom-page-header">
				<div class="col-md-10 col-sm-9 col-xs-12 margin-bottom-10px-xs">
					<h2>Branch Management</h2>
				</div>
				<div class="col-md-2 col-sm-3 col-xs-12">
					<a href="javascript:;" class="btn btn-block btn-success" data-toggle="modal" data-target="#addGenres">Add Branch</a>
				</div>
			</div>
			<div class="row page-content">
				<div class="col-xs-12">
					<div class="table-responsive custom-table setting-table" ng-class="{'last-pagin-page':(pagination.current == pagination.last),'show-spinner': isLoading}" >
					  <table class="table table-bordered">
					    <thead>
					    	<tr>
					    		<th>TITLE</th>
					    		<th>POSTS</th>
					    		<th></th>
					    	</tr>
					    </thead>
					    <tbody>
					    <tr class="table-data-loader text-center">
					    		<td colspan="3">
					    			<div class="table-data-holder">
					    				<div class="display-table">
					    					<div class="vertical-middle">
					    						<div class="loader loader-green"></div>
					    					</div>
					    				</div>
					    			</div>
					    		</td>
					    	</tr>
					    	<tr class="table-data-empty text-center" ng-show="genres.length < 1 && isLoading == false">
						    		<td colspan="6">
						    			<div class="table-data-holder">
						    				<div class="display-table">
						    					<div class="vertical-middle">
						    						<div class="empty-img"><img src="images/empty-img.png"></div>
						    						<strong>No record found.</strong>
						    						<p>It seems like no record is added yet.</p>
						    					</div>
						    				</div>
						    			</div>
						    		</td>
						    	</tr>
					    	<tr ng-repeat="genreData in genres">
					    		<td>
					    			<strong class="semi-bold">{{genreData.title}}</strong>
					    		</td>
					    		<td><a ui-sref="content({filter_by_genre: genreData.id})" ui-sref-opts="{reload: true}" ng-show="genreData.post_count > 0" class="text-underline green"><span class="green semi-bold">{{genreData.post_count}}</span></a><span class="green semi-bold" ng-show="genreData.post_count == 0">{{genreData.post_count}}</span></td>
					    		<td >
					    			<div class="actions text-center">
					    				<a ng-class="{'first-child-arrow':genreData.order == 1}" href="javascript:;" ng-click="setOrder(genreData.id,'up')" class="lt-grey"><i class="icon-arrow-bold-up"></i></a>
					    				
					    				<a href="javascript:;" ng-click="setOrder(genreData.id,'down')"  class="lt-grey"><i class="icon-arrow-bold-down"></i></a>
						    			
						    			<div class="checkbox custom-checkbox-1">
										    <label>
										    	<input type="checkbox" ng-click="setVisibility(genreData.id,checkGenre[$index],$index)" ng-checked="genreData.visibility == 1" ng-value="{{genreData.visibility}}" ng-modal="checkGenre[$index]" >
												<i class="icon-ic_remove_red_eye_black_24px red"></i>
										    	<i class="icon-ic_remove_red_eye_black_24px green show-on-checked"></i>
										    </label>
										</div>
									</div>
					    		</td>
					    	</tr>
					    	
							
					    </tbody>
					  </table>
					</div>
					
				</div>
				<!--  pagination -->
					<div paginate model="pagination" next-page="showNext" previous-page="showPrev" class="pagination"></div>
				<!--  end pagination -->

			</div>
		</div>	

<!--Html end -->

		<!-- Add Genres -->
<div class="modal fade white-bg-popup" id="addGenres" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  	<div class="modal-dialog modal-sm" role="document">
	    <div class="modal-content">
	      	<div class="modal-header">
		        <i class="icon-close black bg-dark-grey close" data-dismiss="modal"></i>
		        <h4 class="modal-title" id="myModalLabel">Add New Branch</h4>
	      	</div>
	      	<form ng-controller="GenreController" name="addGenreForm" ng-submit="addGenreForm.$valid && create()" novalidate>
		      	<div class="modal-body">
			        <div class="form-group margin-0px">
			          	<input type="text" id="newGenreTitle" name="title" class="form-control" placeholder="Enter branch title" ng-model="newGenre.title" ng-disabled="isRecordAdding" required>
		        	</div>
		        	<div class="error-message" ng-class="{'text-danger':(errorMessage || addGenreForm.$submitted && !addGenreForm.$valid), 'text-success':successMessage,'show-message': (addGenreForm.$submitted && !addGenreForm.$valid) || errorMessage || successMessage}">
						<span ng-if="addGenreForm.$submitted && !addGenreForm.title.$valid">Please enter a title.</span>
						<span ng-if="errorMessage" ng-bind="errorMessage"></span>
						<span ng-if="successMessage" ng-bind="successMessage"></span>
				   </div>
		      	</div>
		      	<div class="modal-footer">
		      		<button ng-disabled="isRecordAdding" ng-class="{'show-spinner':isRecordAdding}" class="btn btn-block btn-success"><span>Submit</span><div class="loader"></div></button>  
		      	</div>
	      	</form>
	    </div>
  	</div>
</div>


<!-- Delete confirmation -->
<div class="modal fade white-bg-popup" id="disableAccount" tabindex="-1" role="dialog" aria-labelledby="disableAccountLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <i class="icon-close black bg-dark-grey close" data-dismiss="modal"></i>
        <h4 class="modal-title" id="disableAccountLabel">Confirmation</h4>
      </div>
      <div class="modal-body text-center">
        <p><strong>Are you sure you want to block this account?</strong><br></p>
      </div>
      <div class="modal-footer" style="text-align:center ">
        <a href="javascript:;" id="disableAccountBtn" class="btn btn-success btn-back yes-btn user-confirmation-btn"><span>Yes</span><div class="loader"></div></a>
        <a href="javascript:;" id="disableAccountBtn" class="btn btn-success btn-back user-confirmation-btn" data-dismiss="modal"><span>No</span><div class="loader"></div></a>
      </div>
    </div>
  </div>
</div>