<div class="portal-wrapper cpanel-login">
		<div class="portal-wrapper has-bg">
			<div class="padding-30px">
				<div class="logo">
					<img src="images/logo.png">
				</div>
				<form ng-controller="AuthController" name="loginForm" ng-submit="loginForm.$valid && login()" novalidate>
					<div class="screen-switch cpanel-login-panel">
						<h2 class="portal-main-hd">Tree Control Panel 
							<span>Sign in to your account</span>
						</h2>
						<div class="form-group">
							<input 
								type="email" 
								class="form-control"
								placeholder="Enter your email address" 
								autocomplete="off" 
								ng-pattern="/^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/" 
								ng-model="user.email"
								name="email" 
								required>
						</div>
						<div class="form-group">
							<input 
								type="password" 
								class="form-control" 
								placeholder="Enter your password"
								ng-model="user.password" 
								name="password" 
								required>
						</div>

						<div class="error-message" ng-class="{'text-danger':(text_danger || loginForm.$submitted && !loginForm.$valid), 'text-success':text_success,'show-message': (loginForm.$submitted && !loginForm.$valid) || server.error || server.success}">
							<span ng-if="loginForm.$submitted && !loginForm.email.$valid">Please enter a valid email address.</span><br>
							<span ng-if="loginForm.$submitted && !loginForm.password.$valid">Please enter a password.</span>
							<span ng-if="server.error" ng-bind="server.error"></span>
							<span ng-if="server.success" ng-bind="server.success"></span>
						</div>
						
						
						<div>Forgot password? 
							<a href="javascript:;" class="forget-password onClick-btn blue" data-nextscreen=".cpanel-forgot-panel" data-prevscreen=".cpanel-login-panel">Click here</a>
						</div>

						<button class="btn btn-block btn-success"  ng-class="{'show-spinner':show_spinner}">
							<span>Log In Now</span>
							<div class="loader"></div>
						</button>
					</div>
				</form>
				<form ng-controller="AuthController" name="forgotForm" ng-submit="forgotForm.$valid && forgot()" novalidate>
					<div class="screen-switch cpanel-forgot-panel" style="display:none">
						<h2 class="portal-main-hd">Tree Control Panel 
							<span>Forgot Password</span>
						</h2>
						<div class="form-group">
							<input 
							type="email" 
							class="form-control" 
							placeholder="Enter your email address"
							autocomplete="off" 
							ng-pattern="/^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/"
							ng-model="info.email"
							name="email" 
							required>
						</div>
				
						<div class="error-message" ng-class="{'text-danger':(forgot_text_danger || forgotForm.$submitted && !forgotForm.$valid), 'text-success':forgot_text_success,'show-message': (forgotForm.$submitted && !forgotForm.$valid) || server.forgot_error || server.forgot_success}">
							<span ng-if="forgotForm.$submitted && !forgotForm.email.$valid">Please enter a valid email address.</span>
							<span ng-if="server.forgot_error" ng-bind="server.forgot_error"></span>
							<span ng-if="server.forgot_success" ng-bind="server.forgot_success"></span>
						</div>
						<!-- <a href="create-password.php" class="btn btn-block btn-success"> -->
						<button class="btn btn-block btn-success" ng-class="{'show-spinner':show_spinner}">
							<span>Send</span> 
							<div class="loader"></div>
						</button>
						<!-- </a> -->
						<i class="icon-arrow_forward back-screen-link dark-grey onClick-btn" data-nextscreen=".cpanel-login-panel" data-prevscreen=".cpanel-forgot-panel"></i>
					</div>
				</form>
			</div>
		</div>

	</div>
<script type="text/javascript">
	$('.onClick-btn').click(function(){
		var nextScreen = $(this).attr('data-nextScreen');
		var prevScreen = $(this).attr('data-prevScreen');
		$(prevScreen).fadeOut('fast',function(){
			$(nextScreen).fadeIn();
		});
	});
</script>
