<div class="container">
			<div class="row custom-page-header">
				<div class="col-md-10 col-sm-9 col-xs-12 margin-bottom-10px-xs">
					<h2>Admin</h2>
				</div>
				<div class="col-md-2 col-sm-3 col-xs-12">
					<a href="javascript:;" class="btn btn-block btn-success" data-toggle="modal" ng-click="resetModal('create')" data-target="#addAdmin">Add Admin</a>
				</div>
			</div>
			<div class="row page-content">
				<div class="col-xs-12">
					<div class="table-responsive custom-table admin-table" ng-class="{'show-spinner': isLoading}">
					  <table class="table table-bordered">
					    <thead>
					    	<tr>
					    		<th>NAME</th>
					    		<th>EMAIL</th>
					    		<th></th>
					    	</tr>
					    </thead>
					    <tbody>
					    <tr class="table-data-loader text-center">
					    		<td colspan="3">
					    			<div class="table-data-holder">
					    				<div class="display-table">
					    					<div class="vertical-middle">
					    						<div class="loader loader-green"></div>
					    					</div>
					    				</div>
					    			</div>
					    		</td>
					    	</tr>
					    	<tr class="table-data-empty text-center" ng-show="admins.length < 1 && isLoading == false">
						    		<td colspan="6">
						    			<div class="table-data-holder">
						    				<div class="display-table">
						    					<div class="vertical-middle">
						    						<div class="empty-img"><img src="images/empty-img.png"></div>
						    						<strong>No record found.</strong>
						    						<p>It seems like no record is added yet.</p>
						    					</div>
						    				</div>
						    			</div>
						    		</td>
						    	</tr>
					    	<tr ng-repeat="adminData in admins">
					    		<td>{{adminData.fullname}}</td>
					    		<td>{{adminData.email}}</td>
					    		<td>
					    			<div class="actions text-right">
					    				<a href="javascript:;" class=""><i class="icon-edit2 blue" ng-click="showPopup(adminData,'update')" ng-show="adminData.role_id != 5"></i></a>
					    				<a href="javascript:;" ng-click="showPopup(adminData,'delete')" class="" ng-show="loggedInUserRoleId == 5" data-toggle="modal" data-target=""><i class="icon-bin red"></i></a>
									</div>
					    		</td>
					    	</tr>
					    </tbody>
					  </table>
					</div>
				</div>
				<!--  pagination -->
					<div paginate model="pagination" next-page="showNext" previous-page="showPrev" class="pagination"></div>
				<!--  end pagination -->
			</div>
		</div>	

<!-- Add Admin -->
<div class="modal fade white-bg-popup" id="addAdmin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <i ng-if="isRecordAdding==false" class="icon-close black bg-dark-grey close" data-dismiss="modal"></i>
        <h4 class="modal-title" id="myModalLabel">Add Admin</h4>
      </div>
      <form ng-controller="AdminController" name="addAdminForm" ng-submit="addAdminForm.$valid && create()" novalidate>
      <div class="modal-body">
        <div class="form-group ">
          <input type="text" id="newAdminFullName" name="fullname" class="form-control" placeholder="Enter name" ng-model="newAdmin.fullname" ng-disabled="isRecordAdding" required>
        </div>
        <div class="form-group margin-0px">
          <input type="email" id="newAdminEmail" class="form-control" placeholder="Enter email"  autocomplete="off"  ng-pattern="/^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/" ng-model="newAdmin.email" name="email" ng-disabled="isRecordAdding" required>
        </div>
        <div class="error-message" ng-class="{'text-danger':(text_danger || addAdminForm.$submitted && !addAdminForm.$valid), 'text-success':text_success,'show-message': (addAdminForm.$submitted && !addAdminForm.$valid) || errorMessage || successMessage}">
			<span ng-if="addAdminForm.$submitted && !addAdminForm.email.$valid">Please enter a valid email address.</span><br>
			<span ng-if="addAdminForm.$submitted && !addAdminForm.fullname.$valid">Please enter a full name.</span>
			<span ng-if="errorMessage" ng-bind="errorMessage"></span>
			<span ng-if="successMessage" ng-bind="successMessage"></span>
	   </div>        
      </div>
      
      <div class="modal-footer">
        <button ng-disabled="isRecordAdding" ng-class="{'show-spinner':isRecordAdding}" class="btn btn-block btn-success"><span>Submit</span><div class="loader"></div></button></div></form>
      </div>
    </div>
  </div>
</div>

<!-- Delete confirmation -->
<div class="modal fade white-bg-popup" id="confirmationPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <i class="icon-close black bg-dark-grey close" data-dismiss="modal"></i>
        <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
      </div>
      <div class="modal-body text-center">
        <p><strong>Are you sure you want to<br> delete this record?</strong><br></p>
      </div>
      <div class="modal-footer">
        <a href="javascript:;" ng-click="delete(admin.id)" class="btn btn-block btn-success"><span>Confirm</span><div class="loader" ng-class="{ 'show-spinner': isRecordDeleting }"></div></a>
      </div>
    </div>
  </div>
</div>

<!-- Update Admin -->
<div class="modal fade white-bg-popup" id="updateAdmin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <i ng-if="!isRecordUpdating" class="icon-close black bg-dark-grey close" data-dismiss="modal"></i>
        <h4 class="modal-title" id="myModalLabel">Update Admin</h4>
      </div>
      <form ng-controller="AdminController" name="updateAdminForm" ng-submit="updateAdminForm.$valid && update()" novalidate>
      <div class="modal-body">
        <div class="form-group "> 
          <input type="text" name="fullname" class="form-control" placeholder="Enter name" ng-model="admin.fullname" ng-disabled="isRecordUpdating" required>
        </div>
        <div class="error-message" ng-class="{'text-danger':(errorMessage || updateAdminForm.$submitted && !updateAdminForm.$valid), 'text-success':successMessage,'show-message': (updateAdminForm.$submitted && !updateAdminForm.$valid) || errorMessage || successMessage}">
			<span ng-if="updateAdminForm.$submitted && !updateAdminForm.fullname.$valid">Please enter a full name.</span>
			<span ng-if="errorMessage && !updateAdminForm.$pristine" ng-bind="errorMessage"></span>
			<span ng-if="successMessage" ng-bind="successMessage"></span>
	   </div>
      </div>
      
      <div class="modal-footer">
        <button ng-disabled="isRecordUpdating" ng-class="{'show-spinner':isRecordUpdating}" ng-click="update()" class="btn btn-block btn-success"><span>Submit</span><div class="loader"></div></button></div></form>
      </div>
    </div>
  </div>
</div>