<div class="portal-wrapper client-portal-index">
		<div class="portal-wrapper has-bg">
			<div class="padding-30px padding-bottom-0px">
					<div class="portal-header">
						<div class="logo"><img src="images/logo.png"></div>
						<span class="profile-circle"><img src="images/dummy/profile-pic.png"></span>
						<a href="index.php" class="profile-circle logout-icon"><i class="icon-exit_to_app"></i></a>
					</div>
				<form ng-controller="AuthController" name="frontLoginForm" ng-submit="frontLoginForm.$valid && frontLogin()" novalidate>
					<h2 class="portal-main-hd ">Already a Tree Member? <span>Sign in to your account</span></h2>
					<div class="form-group">
						<input 
						class="form-control" 
						placeholder="Enter your email address" 
						type="email"
						autocomplete="off" 
						ng-pattern="/^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/" 
						ng-model="frontUser.email"
						name="email" 
						required>
					</div>
					<div class="form-group">
						<input 
						class="form-control" 
						placeholder="Enter your password" 
						type="password"
						ng-model="frontUser.password" 
						name="password" 
						required>
					</div>
					<!-- <div class="error-message text-danger">Invalid username and password</div> -->
					<div class="error-message" ng-class="{'text-danger':(text_danger || frontLoginForm.$submitted && !frontLoginForm.$valid), 'text-success':text_success,'show-message': (frontLoginForm.$submitted && !frontLoginForm.$valid) || frontServer.error || frontServer.success}">
							<span ng-if="frontLoginForm.$submitted && !frontLoginForm.email.$valid">Please enter a valid email address.</span><br>
							<span ng-if="frontLoginForm.$submitted && !frontLoginForm.password.$valid">Please enter a password.</span>
							<span ng-if="frontServer.error" ng-bind="frontServer.error"></span>
							<span ng-if="frontServer.success" ng-bind="frontServer.success"></span>
						</div>

					<button class="btn btn-block btn-success login-btns" ng-class="{'show-spinner':show_spinner}">
					<span>Log In Now</span> 
					<div class="loader">Loading...</div>
					</button>
				</form>	
			</div>
			<div class="or-sperater">
				<span>OR</span>
			</div>
			<div class="padding-30px padding-top-0px">
				<a class="btn btn-block btn-primary login-btns" ng-click="frontLogin('facebook')" href="javascript:;"><span><i class="icon-facebook-official "></i> Log In with Facebook</span><div class="loader">Loading...</div></a>
			</div>
		</div>
		<div class="download-tree-app">
			<p>Not a member? Download Tree app.</p><a class="download-app-btn pull-left" href="javascript:;"><img src="images/apple-btn.png"></a> 
			<a class="download-app-btn pull-right" href="javascript:;"><img src="images/google-btn.png"></a>
		</div>
	</div>