<div class="portal-wrapper">
		<div class="portal-wrapper has-bg">
			<div class="padding-30px">
				<!--header-->
				<div class="portal-header">
					<div class="logo"><img src="images/logo.png"></div>
					<span class="profile-circle">
					<img ng-show="user.image_urls['1x']  != null" src="{{user.image_urls['1x']}}">
					<img ng-show="user.image_urls['1x']  == null" src="images/user-placeholder.png">
					</span>
					<a href="javascript:void(0);" ng-controller="FrontTopBarController" ng-click="logout()" class="profile-circle logout-icon"><i class="icon-exit_to_app"></i></a>
				</div>
				<!--header end-->

				<h2 class="portal-main-hd screen-maih-hd"><p>Welcome, {{user.fullname}}</p> <span>Upload content to your Tree account</span>
				<div ng-if="server.success" class="error-message" ng-class="{'text-success':text_success,'show-message': (postFormGenre.$submitted && !postFormGenre.$valid) || server.success}">
					<span ng-if="server.success" ng-bind="server.success"></span>
				</div>
				</h2>
				<div class="clearfix"></div>

				<!--uploading -->
				<form name="postForm" enctype="multipart/form-data" novalidate>
				
				<div class="screen-switch select-photo-screen" ng-show='post_image_screen'>
					<div class="browse-btn dark-grey"><i class="icon-photo_camera dark-grey"></i>Select Media 
						<input type = "file" file-model = "myFile"/>
					</div>
					<!-- 						<div class="browse-btn pull-right"><i class="icon-videocam"></i>Select Video
						<input type="file">
					</div>	 -->
					<div class="clearfix"></div>
					<button class="btn btn-block btn-success onClick-btn upload-btn"
					ng-class="{'show-spinner':show_spinner_screen1}" data-nextScreen=".photo-uploading-screen" data-nextScreen=".photo-uploading-screen" data-prevScreen=".select-photo-screen" href="javascript:void(0);" ng-disabled="!myFile" ng-click="showDetailScreen()"><span>Upload</span> <div class="loader"></div></button>
				</div>
				</form>
				<!--uploading end-->
				
				<!--detail-->
				<form name="postFormDetail" enctype="multipart/form-data" novalidate>
				<div class="screen-switch photo-uploading-screen" ng-show="post_detail_screen">
					
					<div class="upload-img-preview">
						<p>loremipsum.png <i class="icon-close red pull-right"></i></p>
					</div>

					<div class="form-group">
						<input class="form-control" name="title"  placeholder="Enter post title" type="text" ng-model="post.title" required>
					</div>
					
					<div class="form-group">
						<textarea class="form-control" rows="3" placeholder="Enter post description (optional)" ng-model="post.description" maxlength="200"></textarea>
					</div>

					<div class="row">
						<div class="col-md-6  toggle-btns-col padding-right-8px">
							<label class="custom-label"><i class="icon-verified_user"></i> Privacy</label>
							<div class="toggle-btns margin-btm">
								<span class="tab1"   ng-class="{'active' : public_active}">
								<input type="radio" name="Privacy" ng-click="privateBtn()" ng-model="post.privacy" value="public" id="option1"> Public</span>
								<span class="tab2"  ng-class="{'active' : private_active}">
								<input type="radio" name="Privacy"  ng-click="publicBtn()" ng-model="post.privacy" value="private" id="option2" > Private</span>
							</div>
						</div>
						<div class="col-md-6 toggle-btns-col padding-left-8px ">
							<label class="custom-label"><i class="icon-chat"></i> Commentable</label>
							<div class="toggle-btns margin-btm">
								<span class="tab3"  ng-class="{'active' : commentable}"><input type="radio" name="Commentable" ng-click="commentableNoBtn()" ng-model="post.is_commentable" value="1" id="option3"> Yes</span>
								<span class="tab4" ng-class="{'active' : !commentable}"><input type="radio" name="Commentable" ng-click="commentableYesBtn()" ng-model="post.is_commentable" value="0" id="option4" checked> No</span>
							</div>
						</div>
					</div>
					<div ng-if="postFormDetail.$submitted && postFormDetail.title.$error.required" class="error-message" ng-class="{'text-danger': postFormDetail.title.$error.required,'show-message': postFormDetail.title.$error.required}">
							<span ng-if="postFormDetail.$submitted && postFormDetail.title.$error.required">Please enter a post title.</span>
					</div>
					<div class="clearfix"></div>
					<button class="btn btn-block btn-success onClick-btn btn-select-genre" href="javascript:void(0);" data-nextScreen=".photo-genre-screen" data-prevScreen=".photo-uploading-screen" ng-click = "!postFormDetail.title.$error.required && showGenreScreen()"><span>Select Branches</span></button>
					<div class="clearfix"></div>
				</div>
				<!--detail end-->
				</form>

				<!--Genres -->
				<form name="postFormGenre" enctype="multipart/form-data" novalidate>
				<div class="screen-switch photo-genre-screen portal-main-hd text-center"  ng-show='post_genre_screen'>
					<!--progress bar -->
					<div class="progressbar-wrapper" ng-show="progress_bar">
						<div class="inner-padding clearfix">
							<i class="icon icon-photo_camera dark-grey"></i>
							<div class="upload-progressbar">
							<span class="fill" style="width:0%;"></span>
							</div>
							<p class="percentage">{{progress_bar_percentage}}</p>
						</div>
					</div>
					
					<!--progress bar -->

					<h4><i class="icon-globe"></i>Select Branch</h4>
					<span>Select one or many applicable Branches</span>

					<div class="scrollbar select-genre-wrapper custom-scrollbar">
						<div class="genre-selectionbox-wrapper" ng-repeat="genre in genres">
							<label><input type="checkbox" ng-model="genre.selected" value="{{genre.id}}"><span>{{genre.title}}</span></label>
						</div>
					</div>
					
					<div class="error-message" ng-class="{'text-danger':(text_danger || postFormGenre.$submitted && !postFormGenre.$valid), 'show-message': (postFormGenre.$submitted && !postFormGenre.$valid) || server.error}">
						<span ng-if="server.error" ng-bind="server.error"></span>
					</div>

					<button class="btn btn-block btn-success onClick-btn btn-post-now" href="javascript:void(0);"	ng-class="{'show-spinner':show_spinner, 'prevent-click':prevent_click}" ng-click="postCreate()" ng-disabled="checkboxbtn() || prevent_click"><span>Post Now</span> <div class="loader-text">Please Wait</div></button>

				</div>
				</form>
				<!--Genres end-->

				</div>

			</div>
		</div>
</div>

