<div class="content-area">

		<div class="content">


	   <div class="panel panel-default panel-content-custom">
		<div class="panel-heading panel-heading-custom">
		  <div class="row">

			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
			  <ol class="breadcrumb font-light">
				<li><a ui-sref="accounts-users" ui-sref-opts="{reload: true}">Accounts<i class="icon-keyboard_arrow_right"></i></a></li>
				<li class="active">User Management</li>
			  </ol>
			  <h2>User Management</h2>
			</div>
		  </div>
		</div>
		<!--Page content header end-->
		<div class="panel-body">
			<div ng-show="isLoading">
			  <div class="has-loader show-spinner"><div class="loader loader-alt"></div></div>
			</div>

		<div class="" ng-show="(users.length < 1 && isLoading == false)? true:false">
				 <div class="display-table">
					<div class="vertical-algin">
					 <div class="bank-page-inner">
					   <span class="blank-page-icon"><img ng-src="../images/emptystate.png"></span>
					   <h3>No users found</h3>
					  </div>
					</div>
				  </div>
				</div>
		  <div class="table-responsive" ng-show="(users.length > 0 && isLoading == false)? true:false">


			<table class="table table-hover table-striped table-custom-style" >
			  <thead>
				<tr>
				  <th>Full Name</th>
				  <!-- <th>Portal Access</th> -->
				  <th>Role</th>
				  <th>Join Date</th>
				  <th class="text-center" ng-if="canViewSystemLog || canUpdate">Action</th>
				</tr>
			  </thead>
			  <tbody>
				<tr ng-repeat="user in users">
				  <td ng-show="(canUpdate == true)?true:false;"><span  class="ini-name bg-success" ng-show="(user.picture != '')? true:false"><img ng-src="{{user.picture}}"/></span>
					<span class="ini-name bg-success" ng-show="(user.picture == '')? true:false">{{user.placeholder}}</span><span class="text-capitalize"><a href="javascript:;" ng-click="view(user.id);">{{user.first_name}} {{(user.last_name != NULL && user.last_name != '')?user.last_name:'';}}</a></span>
				  </td>
				  <td ng-show="(canUpdate == false)?true:false;">
					<span class="ini-name bg-success" ng-show="(user.picture != '')? true:false"><img ng-src="{{user.picture}}"/></span>
					<span class="ini-name bg-success" ng-show="(user.picture == '')? true:false">{{user.placeholder}}</span><span>{{user.first_name}} {{(user.last_name != NULL && user.last_name != '')?user.last_name:'';}}</span>
				  </td>
				  <!-- <td>Yes</td> -->
				  <td>{{user.role.title}}</td>
				  <td>{{(user.join_date != null && user.join_date != '')? user.join_date:'N/A'}}</td>
				  <td ng-if="canViewSystemLog || canUpdate">
					<div class="actions">
					  <a ng-if="canViewSystemLog" ui-sref="accounts-user-logs({profileID:user.user_id})" ui-sref-opts="{reload: true}" class="margin-right-10px" ><i class="icon-eye" data-toggle="tooltip" data-placement="top" title="View User Log" tooltip></i></a>
					  <a ng-if="canUpdate" href="javascript:;" class="margin-right-10px"><i class="icon-edit" data-toggle="tooltip" data-placement="top" title="Modify User" tooltip ng-click="view(user.id);"></i></a>
					</div>
				  </td>
				</tr>
			  </tbody>
			</table>

			<div class="clearfix"></div>
		  </div>
		  <div paginate model="pagination" next-page="showNext" previous-page="showPrev" class="pagination"></div>


		</div>
		<!-- page content panel body end -->
	</div>
		</div>
	</div>

<!-- Add new users -->
<div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="add-new-userLabel">
  <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" id="add-new-userLabel">Add New User</h4>
	  </div>
	  <div class="modal-body">

		<div class="row">
		  <div class="col-sm-12">
			<div class="form-group">
			  <label for="user-email">Email Address</label>
			  <input ng-disabled="isRecordAdding" type="text" class="form-control" placeholder="Enter email address" ng-model="newUser.email" id="newUserEmail">
			</div>
		  </div>
		  <div class="col-sm-6">
			<div class="form-group">
			  <label for="user-name">First Name</label>
			  <input ng-disabled="isRecordAdding" type="text" class="form-control" placeholder="Enter first name" ng-model="newUser.first_name" id="newUserFirstName" maxlength="15" onkeyup="if(/[^a-zA-Z ]/g.test(this.value)) this.value = this.value.replace(/[^a-zA-Z ]/g,'')">
			</div>
		  </div>
		  <div class="col-sm-6">
			<div class="form-group">
			  <label for="user-name">Last Name</label>
			  <input ng-disabled="isRecordAdding" type="text" class="form-control" placeholder="Enter last name" ng-model="newUser.last_name" id="newUserLastName" maxlength="15" onkeyup="if(/[^a-zA-Z ]/g.test(this.value)) this.value = this.value.replace(/[^a-zA-Z ]/g,'')">
			</div>
		  </div>
		  <div class="col-sm-6">
			<div class="form-group">
			  <label for="" class="">Role</label>
			   <select ng-disabled="isRecordAdding" ng-model="newUser.roles" class="form-control" ng-options="role.title for role in roles track by role.id" id="newUserRoleId"></select>
			  <!-- <div class="form-control typeahead-field" id="newUserRoleId">
			  <div class="loader" ng-class="{'show':isAutocompleteLoading}" ></div>
				<tags-input ng-disabled="isRecordAdding" ng-model="newUser.roles"
					placeholder="Enter role"
					min-length="2"
					add-on-space="true"
					add-from-autocomplete-only="true"
					replace-spaces-with-dashes="false"
					key-property="id"
					display-property="title"
					min-tags="1"
					max-tags="1"
					on-tag-added="disableNewUserRole()"
					on-tag-removed="enableNewUserRole()"
					add-on-paste="false" allow-leftover-text="false">
					<auto-complete display-property="title" source="searchRoles($query)"></auto-complete>
				</tags-input>
			   </div> -->
			  </div>
		  </div>
		  <div class="col-sm-6">
			<div class="form-group">
			  <label for="user-join-date">Join Date</label>
			  <input ng-disabled="isRecordAdding" type="text" class="form-control" placeholder="Enter join date" ng-model="newUser.join_date" datetimez picker-options="newUser.joinDatePickerOptions" picker-controller="newUserJoinDatePicker" picker-on-change="newUserJoinDateChange" data-date-format="dd/mm/yyyy"  id="newUserJoinDate">
			</div>
		  </div>
		</div>
	  <div class="popup-alert alert alert-danger message-div-error" ng-class="{ 'show-message': showError }" ng-show="showError">{{errorMessage}}</div>
		<div class="popup-alert alert alert-success message-div-success" ng-class="{ 'show-message': showSuccess }" ng-show="showSuccess">{{successMessage}}</div>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn transparent" data-dismiss="modal">Cancel</button>
		<button ng-disabled="isRecordAdding" class="btn btn-info btn-icon-left btn-padd-lg" ng-class="{ 'show-spinner': isRecordAdding }" ng-click="create();"><strong>Submit</strong>
		  <div class="loader">Loading...</div></button>
	  </div>
	</div>
  </div>
</div>
<!-- Add new users end-->

<!-- Update users -->
<div class="modal fade" id="modifyUser" tabindex="-1" role="dialog" aria-labelledby="modify-userLabel">
  <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" id="modify-userLabel">Modify User</h4>
	  </div>
	  <div class="modal-body">

		<div class="row">
		  <div class="col-sm-12">
			<div class="form-group">
			  <label for="user-email">Email Address</label>
			  <input ng-disabled="isRecordUpdating" type="text" class="form-control" placeholder="Enter email address" value="{{user.email}}" ng-model="user.email" id="editUserEmail">
			</div>
		  </div>
		  <div class="col-sm-6">
			<div class="form-group">
			  <label for="user-name">First Name</label>
			  <input ng-disabled="isRecordUpdating" type="text" class="form-control" placeholder="Enter first name" value="{{user.first_name}}" ng-model="user.first_name" id="editUserFirstName" maxlength="15" onkeyup="if(/[^a-zA-Z ]/g.test(this.value)) this.value = this.value.replace(/[^a-zA-Z ]/g,'')">
			</div>
		  </div>
		  <div class="col-sm-6">
			<div class="form-group">
			  <label for="user-name">Last Name</label>
			  <input ng-disabled="isRecordUpdating" type="text" class="form-control" placeholder="Enter last name" value="{{user.last_name}}" ng-model="user.last_name" id="editUserLastName" maxlength="15" onkeyup="if(/[^a-zA-Z ]/g.test(this.value)) this.value = this.value.replace(/[^a-zA-Z ]/g,'')">
			</div>
		  </div>
		  <div class="col-sm-6">
			<div class="form-group">
			  <label for="user-role">Role</label>
			  <select ng-disabled="checkCurrentUser(user,isRecordUpdating)" ng-model="user.roles" class="form-control" ng-options="role.title for role in roles track by role.id" id="editUserRoleId"></select>
			  <!-- <div class="form-control typeahead-field" id="editUserRoleId">
			  <div class="loader" ng-class="{'show':isAutocompleteLoading}" ></div>
				<tags-input ng-disabled="checkCurrentUser(user,isRecordUpdating)" ng-model="user.roles"
					placeholder="Enter role"
					min-length="2"
					add-on-space="true"
					add-from-autocomplete-only="true"
					replace-spaces-with-dashes="false"
					key-property="id"
					display-property="title"
					min-tags="1"
					max-tags="1"
					on-tag-added="disableExistingUserRole()"
					on-tag-removed="enableExistingUserRole()"
					add-on-paste="false" allow-leftover-text="false">
					<auto-complete display-property="title" source="searchRoles($query)"></auto-complete>
				</tags-input>
			   </div> -->
			</div>
		  </div>

		  <div class="col-sm-6">
			<div class="form-group">
			  <label for="user-join-date">Join Date</label>
			  <input ng-disabled="isRecordUpdating" type="text" class="form-control" data-date-format="dd/mm/yyyy" placeholder="Enter join date" value="{{formatDate(user.join_date) |  date:'MM/dd/yyyy'}}" datetimez picker-options="userJoinDatePickerOptions" picker-controller="userJoinDatePicker" picker-on-change="userJoinDateChange" ng-model="user.join_date" ng-bind="formatDate(user.join_date) |  date:'MM/dd/yyyy'" id="editUserJoinDate">
			</div>
		  </div>
		</div>
	  <div class="popup-alert alert alert-danger message-div-error" ng-class="{ 'show-message': showError }" ng-show="showError">{{errorMessage}}</div>
		<div class="popup-alert alert alert-success message-div-success" ng-class="{ 'show-message': showSuccess }" ng-show="showSuccess">{{successMessage}}</div>
	  </div>
	  <div class="modal-footer">
		<button ng-disabled="isRecordUpdating" class="btn transparent" data-dismiss="modal">Cancel</button>
		<button ng-disabled="isRecordUpdating" class="btn btn-info btn-icon-left btn-padd-lg" ng-class="{ 'show-spinner': isRecordUpdating }" ng-click="update();"><strong>Submit</strong>
		  <div class="loader">Loading...</div></button>
	  </div>
	</div>
  </div>
</div>
<!-- Update users end-->
<script type="text/javascript">
    // modal backdrop
  $('.modal').modal({
    backdrop:false,
    show:false,
    keyboard:false
  });
</script>
